body {
 font-family: Arial, Helvetica, sans-serif;
}
.input-form {
  width: 250px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 
.input-name, .input-birth {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-btn {
    font-size: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input-btn:hover {
  background-color: #008655;
}
.dog {
  border-collapse: collapse;
}

.dog td, .dog th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dog tr:nth-child(even){background-color: #f2f2f2;}

.dog th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}